body{
    background-color: #eff1f4;
}
#register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    gap: 8%;
    .photo{
        &_sign{
            width: 530px;
            height: 700px;
        }
    }
    .container{
        margin-bottom: 3%;

        .back{
            display: flex;
            margin-bottom: 32%;
            &-icon{
                width: 30px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid #ccc;
                background-color: #fff;
                cursor: pointer;
            }
            &-text{
                font-size: 20px;
                margin-left: 13px;
            }
        }
        #tittle{
            margin-bottom: 6%;
            .first{
                font-size: 30px;
                color: rgb(50, 50, 50);
            }
            .second{
                font-size: 20px;
                color: dimgrey;
            }
        }
        
        #form{
            .form-phone{
                .phone-text{
                    font-size: 15px;
                    color: dimgrey;
                }
                .input-phone{
                    position: relative;
                    margin-bottom: 3%;
                    .phone{
                        position: absolute;
                        top: 57%;
                        left: 3%;
                        transform: translateY(-50%);
                    }
                }
            }
            #phone{
                width: 400px;
                height: 50px;
                border: 1px solid #ccc;
                background-color: transparent;
                border-radius: 10px;
                margin-top: 11px;
                padding: 0 50px;
            }

            .form-mail{
                .mail-text{
                    font-size: 15px;
                    color: dimgrey;
                }
                .input-mail{
                    position: relative;
                    margin-bottom: 3%;
                    .mail-icn{
                        position: absolute;
                        top: 57%;
                        left: 3%;
                        transform: translateY(-50%);
                    }
                }
                #mail{
                    width: 400px;
                    height: 50px;
                    border: 1px solid #ccc;
                    background-color: transparent;
                    border-radius: 10px;
                    margin-top: 11px;
                    padding: 0 50px;
                }
            }
        }
    
        .checkbox-text{
            display: flex;
            justify-content: space-between;
            margin-top: 4%;
            .checkbox-content{
                font-size: 15px;
                color: dimgrey;;
                .checkbox{
                    width: 20px;
                    height: 20px;
                    border-color: #ccc;
                    accent-color: #eff1f4;
                }
            }
        }
        .btn{
            display: flex;
            flex-direction: column;
            .sign-in{
                margin-top: 6%;
                background-color:#5f90db;
                color: #fff;
                padding: 10px;
                border-radius: 10px;
                border: none;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}